In [1]:
# Task 1
one= 1
two =2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"
# Combining variables into a single string
output = f"{one} {two} {three} {four} {can} {do} {python} {more}"
# Print the output
print(output)

1 2 3 4 can do python more

In [2]:
# Task 2 
number1 = 15
number2 = 30
result = number1 * number2 
print("The result is", result)

The result is 450

In [3]:
# Task 3
def check_first_last(numbers):
    if not numbers:
        return False
    # Obtain the first and last element of the list
    first = numbers[0]
    last = numbers[-1]
    # Compare the first and last element of the list and return True or False
    return first == last
# Test the function with two lists
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print("Given list:", numbers_x)
print("result is", check_first_last(numbers_x))
print("Given list:", numbers_y)
print("result is", check_first_last(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [4]:
# Task 4
numbers = [10, 20, 33, 46, 55]

print("Given list is", numbers)
print("Divisible by 5")
for number in numbers:
  # Check if the number is divisible by 5
  if number % 5 == 0:
    print(number)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [5]:
# Task 5
str_x = "Anjali is good developer. Anjali is a writer"
sub = "Anjali"
count = str_x.count(sub)
print(sub, "appeared", count, "times")

Anjali appeared 2 times

In [6]:
# Task 6
for i in range(1, 6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
# Task 7
# Create a Multiplication Table
for x in range(1, 11):
        for y in range(1, 11):
            z = x * y
            print(z, end="\t")
        print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [8]:
# Task 8
import numpy as np
Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
Temp_K_array = np.array(Temp_K)
Temp_C_array = Temp_K_array - 273.15
print("Temperatures in Celsius:", Temp_C_array)

Temperatures in Celsius: [ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [15]:
# Task 9
import pandas as pd
data = {"Student": ["Tommy", "Fred", "Gail", "Melissa", "Randy", "Ariel"],
        "Hair Color": ["Brown", "Grey", "Blonde", "Dark Brown", "Black", "Brown"],
        "Eye Color": ["Hazel", "Green", "Blue", "Brown", "Hazel", "Blue"],
        "Weight in Kilograms": [60, 80, 76, 81, 88, 85]
        }

df = pd.DataFrame(data)
print(df.index)
print()
print(df[['Hair Color']])
print()
print(df[['Eye Color']])
print()
print(df[['Student', 'Weight in Kilograms']])
print()
print(df['Weight in Kilograms'].iloc[1])

RangeIndex(start=0, stop=6, step=1)

   Hair Color
0       Brown
1        Grey
2      Blonde
3  Dark Brown
4       Black
5       Brown

  Eye Color
0     Hazel
1     Green
2      Blue
3     Brown
4     Hazel
5      Blue

   Student  Weight in Kilograms
0    Tommy                   60
1     Fred                   80
2     Gail                   76
3  Melissa                   81
4    Randy                   88
5    Ariel                   85

80